# Dependency directories
node_modules/

# Environment configuration files
.env

# Logs
logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace

# Build outputs
/dist
/build
/public/bundle.js
/public/bundle.js.map

# Temporary files
.tmp
.sass-cache

# Others
coverage/
